[project]
	description = Sample
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Venkatesan C K (venkatesan-ck)
[access "refs/for/refs/*"]
	read = group user/Venkatesan C K (venkatesan-ck)
	push = group user/Venkatesan C K (venkatesan-ck)
	label-Code-Review = -2..+2 group user/Venkatesan C K (venkatesan-ck)
	label-Verified = -1..+1 group user/Venkatesan C K (venkatesan-ck)
	rebase = group user/Venkatesan C K (venkatesan-ck)
	removeReviewer = group user/Venkatesan C K (venkatesan-ck)
	submit = group user/Venkatesan C K (venkatesan-ck)
[access "refs/heads/*"]
	read = group user/Venkatesan C K (venkatesan-ck)
	create = group user/Venkatesan C K (venkatesan-ck)
	push = +force group user/Venkatesan C K (venkatesan-ck)
	pushMerge = group user/Venkatesan C K (venkatesan-ck)
[access "refs/tags/*"]
	push = group user/Venkatesan C K (venkatesan-ck)
	push = +force group user/Venkatesan C K (venkatesan-ck)
